<!DOCTYPE html>

{% load static %}

<html lang="en" class="bg-black">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'paradox/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'paradox/css/style.css' %}">
	<title>PARADOX-EG {% block title %}Base{% endblock %}</title>
</head>

<body class="bg-black">
	<script src="{% static 'paradox/js/bootstrap.min.js' %}" async defer></script>
	{% block content %}{% endblock %}
</body>

</html>