.home-header {
  background: url("../img/home-header-background.png");
  background-size: cover;

  .home-header-container {
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);

    .home-title {
      font-size: 156px;
      line-height: 156px;
      margin-left: -7px;
    }
  }
}