// Global Selectors
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Import Bootstrap with Custom Variables
@import "variables";
@import './bootstrap/bootstrap';

// Import other style files
@import "header";
@import "navbar";

// Global Fonts and Style
@font-face {
  font-family: "Exo";
  font-display: swap;
  src: url("Exo-font.ttf");
}

body {
  font-family: Exo, sans-serif;
}

.modal-content {
  background-color: $secondary;
}

.input-group input, select {
  width: 100%;
  padding: 0.1rem 1rem;
  border-radius: 0.1rem !important;
  border: 0 !important;
  background-color: $surface;
  color: $light;
}

.list-group-item {
  background-color: $dark;
  color: $light;
}