// Global Selectors
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Import Bootstrap with Custom Variables
@import "variables";
@import './bootstrap/bootstrap';

// Import other style files
@import "header";
@import "navbar";

// Global Fonts and Style
@font-face {
  font-family: "Exo";
  font-display: swap;
  src: url("Exo-font.ttf");
}

body {
  font-family: Exo, sans-serif;
}

.modal-content {
  background-color: $secondary;
}

.input-group input,
select {
  width: 100%;
  padding: 0.1rem 1rem;
  border-radius: 0.1rem !important;
  border: 0 !important;
  background-color: $surface;
  color: $light;
}

.list-group-item {
  background-color: $dark;
  color: $light;
}

::-webkit-calendar-picker-indicator {
  filter: invert(80%);
}

.text-justify {
  text-align: justify;
  text-justify: distribute;
}

.carousel {
  overflow: hidden;
}

.crop-img {
  width: 100%;
  height: 500px; // Default height for screens that don't match any media query
  overflow: hidden;

  img {
    object-fit: cover;
    height: 100%;
  }

  @media (min-width: 1200px) {
    // XL screens
    height: 500px; // Adjust the height for XL screens
  }

  @media (min-width: 992px) {
    // Large screens
    height: 420px; // Adjust the height for large screens
  }

  @media (min-width: 768px) {
    // Medium screens
    height: 420px; // Adjust the height for medium screens
  }

  @media (max-width: 767px) {
    // Small screens
    height: 250px; // Adjust the height for small screens
  }
}
