$stc_brown: #B47339;
$stc_brown_a: rgba($stc_brown, 40%);

.btn-decouvrir {
    background-color: $stc_brown;
    color: white;

    &:hover {
        background-color: darken($stc_brown, 10%);
    }
}

.navbar-collapse {
    border: solid;
    border-radius: 10%;
    border-color: $stc_brown_a;
}

.navbar-toggler {
    color: $stc_brown_a;
}

.home-title {
    color: lighten($stc_brown, 10%);
}

.carousel-control-next-icon {
    filter: initial;
}

.carousel {
    img {
        min-height: 400px;
        max-height: 600px;
        border: solid;
        border-color: $stc_brown_a;
        object-fit: cover;
        object-position: center;
    }
}