<!DOCTYPE html>

{% load static %}
{% load compress %}
{% compress css %}
<link type="text/x-scss" rel="stylesheet" href="{% static 'style.scss' %}" media="screen">
{% endcompress %}

<html lang="en" class="bg-black">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>PARADOX-EG {% block title %}Base{% endblock %}</title>
</head>

<body class="bg-black">
	<script src="{% static 'js/bootstrap.min.js' %}" async defer></script>
	{% block content %}{% endblock %}
</body>

</html>