{% extends './base.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
            {% for faq_element in faq_elements %}
            <li class="list-group-item">
                <h2 class="mb-3 text-center">{{ faq_element.question }}</h2>
                <h5 class="text-justify">{{ faq_element.answer }}</h5>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}